div.sect1 > h2:first-of-type {
	padding-bottom: 2px;
	border-bottom: 1px solid grey;
}

div.ulist div.title {
	margin-bottom: 5px;
}

img {
	margin-bottom: 10px;
}

ul#side {
	padding-top:20px;
	padding-right:10px;
	overflow-y:auto;
	position: fixed;
	top: 80px;
	bottom:0;
}
#side li {
	margin-top: 5px;
	margin-bottom: 5px;
}
div#slide-nav {
	padding-bottom: 5px;
	margin-bottom: 5px;
	white-space: nowrap;
	overflow: hidden;
	padding-top:10px;
	position: fixed;
	z-index:100;
}
#slide-nav a {
	color: black;
}

@media (min-width: 768px) {
  .fixed-sm {
    position: fixed;
  }
}

@media (min-width: 992px) {
  .fixed-md {
    position: fixed;
  }
  .fixed-col-md-2 {
    position: fixed;
    width: 145px;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 1200px) {
  .fixed-lg {
    position: fixed;
  }
  .fixed-col-lg-2 {
    position: fixed;
    width: 180px;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
div#video {
	padding-top:20px;
	z-index:100;
}
