div.sect1 > h2:first-of-type {
	padding-bottom: 2px;
	border-bottom: 1px solid grey;
}

div.ulist div.title {
	margin-bottom: 5px;
}

img {
	margin-bottom: 10px;
}

ul#side {
	padding-top:20px;
	padding-right:10px;
	overflow-y:auto;
	top: 70px;
	bottom:0;
}
#side li {
	margin-top: 5px;
	margin-bottom: 5px;
}
div#slide-nav {
	padding-bottom: 5px;
	margin-bottom: 5px;
	white-space: nowrap;
	overflow: hidden;
	position: fixed;
	z-index:100;
}
#slide-nav a {
	color: black;
}
