.deck-container {
  position: relative;
  overflow: hidden;
  margin: 0;
}

.deck-container:not(.show-all-slides):not(.deck-menu):not(.deck-loading) > .slide:not(.deck-current), .deck-container:not(.show-all-slides):not(.deck-menu):not(.deck-loading) > .slide:not(.deck-child-current) {
  display: none;
}
.deck-container:not(.show-all-slides):not(.deck-menu):not(.deck-loading) > .slide.deck-current, .deck-container:not(.show-all-slides):not(.deck-menu):not(.deck-loading) > .slide.deck-child-current {
  display: block;
}

.deck-container.deck-loading > *:not(.deck-loading-splash) {
  visibility: hidden;
}
.touch .deck-container {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
}
.deck-container > .slide {
  position: absolute;
}
.deck-container > .slide.deck-current, .deck-container > .slide.deck-child-current {
  position: absolute;
  /* relative to parent */
}
.deck-container > .slide.deck-current .slide, .deck-container > .slide.deck-child-current .slide {
  visibility: hidden;
}
.deck-container > .slide.deck-current .deck-previous, .deck-container > .slide.deck-current .deck-before, .deck-container > .slide.deck-current .deck-current, .deck-container > .slide.deck-child-current .deck-previous, .deck-container > .slide.deck-child-current .deck-before, .deck-container > .slide.deck-child-current .deck-current {
  visibility: visible;
}
.deck-container.deck-anim-ready .deck-loading-splash {
  visibility: hidden;
  opacity: 0;
  /*
      right: 100%;
      left: -100%;
  */
  -webkit-transition: visibility 0s linear 0.5s, all 0.5s linear;
  transition: visibility 0s linear .5s, all 0.5s linear;
}
.deck-container .deck-loading-splash {
  visibility: visible;
  opacity: 1;
  position: absolute;
  text-align: center;
  padding-top: 200px;
  display: flex;
  margin: 0 auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: black;
  color: white;
  z-index: 100;
}
