---
title: Exams
layout: thin.hbt
description: >
  Challenge your mastery of operating systems concepts. Take an exam, and then
  review the solution set.
priority: 0.9
changefreq: monthly
videos:
  - { date: "03-24-2015", presenter: "Jinghao Shi", youtube: Ob-TfSbbRa0 }
  - { date: "03-22-2016", presenter: "Jinghao Shi", youtube: 3XiXoolZyeM }
  - { date: "05-03-2016", presenter: "Ali Ben Ali", youtube: 4euLeNd67Jw, slides: https://drive.google.com/open?id=0B2KANO6SyBWlekVkT3N3RnhDWlk}
  - { date: "03-28-2017", presenter: "Carl Nuessle and Ali Ben Ali", youtube: UtOMAUHwz6E, slides: https://drive.google.com/open?id=0B2KANO6SyBWlc2UxbUd3WEt4SHM}
  - { date: "05-09-2017", presenter: "Carl Nuessle and Ali Ben Ali", youtube: ol4-dZGnJHw, slides: https://drive.google.com/open?id=0B2KANO6SyBWlRHVEaWY3aTVQUDg}
---
<h1>Old Exams</h1>

<p class="lead">Below are examples of previous exams. Exam and question
statistics are included in the solution set.</p>

<div class="row text-center row-md-flex-center"
	style="border-bottom:1px solid grey; padding-bottom:10px; margin-bottom:10px;">
	<div class="col-xs-12 col-md-3"><span class="h4">2017</span></div>
	<div class="col-xs-12 col-md-9">
		<div class="row row-xs-flex-center">
			<div class="col-xs-4">Final</div>
			<div class="col-xs-4"><a href="2017_final_exam.pdf">Exam</a></div>
			<div class="col-xs-4"><a href="2017_final_solution.pdf">Solution</a></div>
		</div>
		<div class="row row-xs-flex-center">
			<div class="col-xs-4">Midterm</div>
			<div class="col-xs-4"><a href="2017_midterm_exam.pdf">Exam</a></div>
			<div class="col-xs-4"><a href="2017_midterm_solution.pdf">Solution</a></div>
		</div>
	</div>
</div>
<div class="row text-center row-md-flex-center"
	style="border-bottom:1px solid grey; padding-bottom:10px; margin-bottom:10px;">
	<div class="col-xs-12 col-md-3"><span class="h4">2016</span></div>
	<div class="col-xs-12 col-md-9">
		<div class="row row-xs-flex-center">
			<div class="col-xs-4">Final</div>
			<div class="col-xs-4"><a href="2016_final_exam.pdf">Exam</a></div>
			<div class="col-xs-4"><a href="2016_final_solution.pdf">Solution</a></div>
		</div>
		<div class="row row-xs-flex-center">
			<div class="col-xs-4">Midterm</div>
			<div class="col-xs-4"><a href="2016_midterm_exam.pdf">Exam</a></div>
			<div class="col-xs-4"><a href="2016_midterm_solution.pdf">Solution</a></div>
		</div>
	</div>
</div>
<div class="row text-center row-md-flex-center"
	style="border-bottom:1px solid grey; padding-bottom:10px; margin-bottom:10px;">
	<div class="col-xs-12 col-md-3"><span class="h4">2015</span></div>
	<div class="col-xs-12 col-md-9">
		<div class="row row-xs-flex-center">
			<div class="col-xs-4">Final</div>
			<div class="col-xs-4"><a href="2015_final_exam.pdf">Exam</a></div>
			<div class="col-xs-4"><a href="2015_final_solution.pdf">Solution</a></div>
		</div>
		<div class="row row-xs-flex-center">
			<div class="col-xs-4">Midterm</div>
			<div class="col-xs-4"><a href="2015_midterm_exam.pdf">Exam</a></div>
			<div class="col-xs-4"><a href="2015_midterm_solution.pdf">Solution</a></div>
		</div>
	</div>
</div>
<div class="row text-center row-md-flex-center"
	style="border-bottom:1px solid grey; padding-bottom:10px; margin-bottom:10px;">
	<div class="col-xs-12 col-md-3"><span class="h4">2014</span></div>
	<div class="col-xs-12 col-md-9">
		<div class="row row-xs-flex-center">
			<div class="col-xs-4">Final</div>
			<div class="col-xs-4"><a href="2014_final_exam.pdf">Exam</a></div>
			<div class="col-xs-4"><a href="2014_final_solution.pdf">Solution</a></div>
		</div>
		<div class="row row-xs-flex-center">
			<div class="col-xs-4">Midterm</div>
			<div class="col-xs-4"><a href="2014_midterm_exam.pdf">Exam</a></div>
			<div class="col-xs-4"><a href="2014_midterm_solution.pdf">Solution</a></div>
		</div>
	</div>
</div>
<div class="row text-center row-md-flex-center"
	style="border-bottom:1px solid grey; padding-bottom:10px; margin-bottom:10px;">
	<div class="col-xs-12 col-md-3"><span class="h4">2013</span></div>
	<div class="col-xs-12 col-md-9">
		<div class="row row-xs-flex-center">
			<div class="col-xs-4">Final</div>
			<div class="col-xs-4"><a href="2013_final_exam.pdf">Exam</a></div>
			<div class="col-xs-4"><a href="2013_final_solution.pdf">Solution</a></div>
		</div>
		<div class="row row-xs-flex-center">
			<div class="col-xs-4">Primary Midterm</div>
			<div class="col-xs-4"><a href="2013_midterm_primary_exam.pdf">Exam</a></div>
			<div class="col-xs-4"><a href="2013_midterm_primary_solution.pdf">Solution</a></div>
		</div>
		<div class="row row-xs-flex-center">
			<div class="col-xs-4">Alternate Midterm</div>
			<div class="col-xs-4"><a href="2013_midterm_alternate_exam.pdf">Exam</a></div>
			<div class="col-xs-4"><a href="2013_midterm_alternate_solution.pdf">Solution</a></div>
		</div>
	</div>
</div>
<div class="row text-center row-md-flex-center">
	<div class="col-xs-12 col-md-3"><span class="h4">2012</span></div>
	<div class="col-xs-12 col-md-9">
		<div class="row row-xs-flex-center">
			<div class="col-xs-4">Final</div>
			<div class="col-xs-4"><a href="2012_final_exam.pdf">Exam</a></div>
			<div class="col-xs-4"><a href="2012_final_solution.pdf">Solution</a></div>
		</div>
		<div class="row row-xs-flex-center">
			<div class="col-xs-4">Primary Midterm</div>
			<div class="col-xs-4"><a href="2012_midterm_primary_exam.pdf">Exam</a></div>
			<div class="col-xs-4"><a href="2012_midterm_primary_solution.pdf">Solution</a></div>
		</div>
		<div class="row row-xs-flex-center">
			<div class="col-xs-4">Alternate Midterm</div>
			<div class="col-xs-4"><a href="2012_midterm_alternate_exam.pdf">Exam</a></div>
			<div class="col-xs-4"><a href="2012_midterm_alternate_solution.pdf">Solution</a></div>
		</div>
		<div class="row row-xs-flex-center">
			<div class="col-xs-4">Practice Midterm</div>
			<div class="col-xs-4"><a href="2012_midterm_practice_exam.pdf">Exam</a></div>
		</div>
	</div>
</div>
{{#if videos}}
<a class="anchor" id="videos"></a>
<h2>Related Videos</h2>
<p class="lead">
Below are some related videos and slides that may help you
review for midterms and final exams.
</p>
<div class="row">
	{{#each videos}}
	<div class="col-xs-12 col-sm-6 col-md-4">
		<div class="embed-responsive embed-responsive-16by9"
			style="margin-top:10px; margin-bottom:10px; border:1px solid grey">
			<div class="youtube-container" data-id="{{ youtube }}"></div>
		</div>
		<ul class="list-inline dash-list h5">
			<li>{{ date }}</li>
			<li>{{ presenter }}</li>
			{{#if slides}}<li><a href="{{ slides }}">Slides</a></li>{{/if}}
		</ul>
	</div>
	{{/each}}
</div>
{{/if}}
