body {
  padding-top: 60px;
  position: relative;
  color: #333;
  font-size: 16px;
}
code, kbd, pre, samp {
  font-family: Consolas, "Courier New", monospace;
}
code {
  background-color: inherit;
}
a.logo-fixed {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 74px;
  height: 60px;
  z-index: 2000;
  margin-bottom: -60px;
}
a.logo-fixed > img {
  height: 60px;
  z-index: 2000;
}

.navbar {
  font-size: 16px;
  font-family: Consolas, monospace;
}
.navbar-default {
  background-color: white;
}
.navbar {
  min-height: 60px;
  margin-bottom: 10px;
}
.navbar-toggle {
  margin-top: 17px;
}

.alert td.icon {
  padding-right: 20px;
}

.alert.alert-danger {
  font-weight: bolder;
}

.popover-content {
  color: black;
}

.nav > li > a.active {
  color: black;
}

@media (min-width: 768px) {
  .navbar .navbar-nav {
    line-height: 20px;
    padding-top: 40px;
    display: inline-block;
  }
  .navbar .navbar-nav.left {
    padding-right: 32px;
    float: right;
  }
  .navbar .navbar-nav.left li {
    padding-right: 10px;
  }
  .navbar .navbar-nav.right {
    padding-left: 32px;
    float: left;
  }
  .navbar .navbar-nav.right li {
    padding-left: 10px;
  }
  .nav > li > a {
    padding: 0px 0px;
  }
  .nav > li > a:after {
	  content: "\0000a0";
  }
  .nav > li > a:hover:after {
    content: "_";
  }
  .nav > li > a.active:after {
    content: "_";
  }
}
